#  MY SQL CONNECTOR

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp38-cp38-win_amd64.whl (794 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.1-py2.py3-none-any.whl (173 kB)
Requirement already satisfied: six>=1.9 in c:\users\todays\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.25 protobuf-3.17.1

# SETTTING CONNECTION

In [2]:
import mysql.connector as connection

In [4]:
connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)

In [5]:
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)

# Setting Cursor

In [17]:
cur = mydb.cursor() #cursor can be set up again & again after running any query to be safe from  error

# Show Databases

In [26]:
cur = mydb.cursor()
cur.execute("show databases")

In [23]:
cur.fetchall()

[('information_schema',),
 ('aadil',),
 ('aadil111',),
 ('gta',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sme',),
 ('sys',),
 ('world',)]

In [24]:
type(cur.fetchall())

list

In [29]:
mydb.close()

In [30]:
mydb.is_connected()

False

# loops for fetchall

In [1]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)
mydb

In [2]:
mydb.is_connected()

True

In [3]:
cur = mydb.cursor()

In [4]:
cur.execute("show databases")

In [5]:
a =cur.fetchall()

In [6]:
cur = mydb.cursor()

In [7]:
mydb.is_connected()

True

In [9]:
for i in a:
    print(i)

('information_schema',)
('aadil',)
('aadil111',)
('gta',)
('mysql',)
('performance_schema',)
('sakila',)
('sme',)
('sys',)
('world',)

In [13]:
for i in enumerate(a):
    print(i)

(0, ('information_schema',))
(1, ('aadil',))
(2, ('aadil111',))
(3, ('gta',))
(4, ('mysql',))
(5, ('performance_schema',))
(6, ('sakila',))
(7, ('sme',))
(8, ('sys',))
(9, ('world',))

In [14]:
mydb.close()

# creating a new databases

In [15]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)
cur = mydb.cursor()

In [16]:
mydb

In [17]:
cur.execute("create database Aadil_sql_revision")

# Creating a Table

In [18]:
'''CONNECTING TO DATABASES'''
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",database="Aadil_sql_revision",use_pure=True)
cur = mydb.cursor()

In [19]:
mydb

In [22]:
cur.execute("create table rev_test(x1 int(5),x2 varchar(20),x3 DATE)")

In [23]:
mydb.close()

# showing tables

In [24]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",database="Aadil_sql_revision",use_pure=True)
cur = mydb.cursor()

In [25]:
cur.execute("select * from rev_test")

In [26]:
cur.fetchall()

[]

In [28]:
mydb.close()

# Inserting Values in Tables

In [29]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",database="Aadil_sql_revision",use_pure=True)
cur = mydb.cursor()

In [32]:
cur.execute("insert into rev_test(x1,x2,x3) values(1234,'Aadil','9999-12-31')")

In [33]:
mydb.commit()

In [34]:
cur = mydb.cursor()

In [36]:
cur.execute("select x3,x1 from rev_test")

In [37]:
cur.fetchall()

[(datetime.date(9999, 12, 31), 1234)]

In [ ]:
for i in cur.fetchall():
    print(i)

In [42]:
mydb.close()

# Deleting Data From Row/Column Of Table

In [45]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",database="Aadil_sql_revision",use_pure=True)
cur = mydb.cursor()

In [52]:
query = "delete from Aadil_sql_revision.rev_test where x1=1234"

In [53]:
cur.execute(query)

In [54]:
mydb.commit()

## updating tables

In [72]:
cur = mydb.cursor()

In [73]:
cur.execute("insert into rev_test(x1,x2,x3) values(1234,'Aadil','9999-12-31')")

In [74]:
mydb.commit()

In [75]:
cur = mydb.cursor()

In [76]:
query = "update Aadil_sql_revision.rev_test set x1=4567,x2='samsu' where x1=1234"

In [77]:
cur.execute(query)

In [78]:
mydb.commit()