# F - Strings

In [1]:
a = 10
b = 20
value = f"{a}"
print(value)

10

In [2]:
a = 10
b = 20
value = f"{a} {b}  {a}" 
print(value)

10 20  10

* variable name, integers and Mathematical calculation are written in {curly bracket}

In [3]:
num = 15
print(f"{num}")
print(f"{num:d}")
print(f"{num:5d}")
print(f"{num:+5d}")
print(f"{num:<5d}")
print(f"{num:*<5d}")
print(f"{num:*>5d}")
print(f"{num:^5d}")
print(f"{num:*^5d}")

15
15
   15
  +15
15
15***
***15
 15
*15**

In [4]:
num = 15.65
num = 15.65123456789
print(f"{num}")
print(f"{num:f}")
print(f"{num:8f}")
print(f"{num:.20f}")
print(f"{num:8.3f}")
print(f"{num:+8.3f}")
print(f"{num:<8.2f}")
print(f"{num:*<8.2f}")
print(f"{num:*>8.2f}")
print(f"{num:^8.2f}")
print(f"{num:*^8.2f}")

15.65123456789
15.651235
15.651235
15.65123456789000044864
  15.651
 +15.651
15.65
15.65***
***15.65
 15.65
*15.65**

In [5]:
num = "aadil"
print(f"{num}")
print(f"{num:s}")
print(f"{num:8s}")
print(f"{num:<8}")
print(f"{num:*<8}")
print(f"{num:>8}")
print(f"{num:*>8s}")
print(f"{num:^8s}")
print(f"{num:$^8s}")

aadil
aadil
aadil
aadil
aadil***
   aadil
***aadil
 aadil
$aadil$$

In [6]:
num = "GeekyShows"
print(f"{num:.3s}")
print(f"{num:8.3s}")
print(f"{num:*<8.3s}")
print(f"{num:>8.3s}")
print(f"{num:*>8.3s}")
print(f"{num:^8.3s}")
print(f"{num:*^8.3s}")

Gee
Gee
Gee*****
     Gee
*****Gee
  Gee
**Gee***

# -----------------------------------------------------------------

# seperator

In [7]:
price = 1234567890
print(f'{price:,}')

1,234,567,890

In [8]:
price = 1234567890
print(f'{price:_}')

1_234_567_890

In [9]:
a = "Aadil"
b = 22
print(f"My name is {a} and my age is {b}")

My name is Aadil and my age is 22

In [11]:
print(f"{10*8}")

80

In [12]:
a = 50
b = 3
print(f"{a/b:.2}")

1.7e+01

In [13]:
a = 50
b = 3
print(f"{a/b:.2%}")

1666.67%

In [15]:
value = (10,20)
print(f"{value[0]}  {value[1]}") 
print(f"{value[1]}  {value[0]}")

10  20
20  10

In [16]:
data = {'rahul':20000, "sonam":3000}
print(f"{data['rahul']:d} {data['sonam']:d}")

20000 3000

In [17]:
name = "aadil"
print(f"{name}")

aadil

In [18]:
name = "aadil"
print(f"{name.upper()}")

AADIL

In [19]:
print(f"{{10}}")

{10}

In [20]:
from datetime import datetime
today = datetime(2020,10,10)
print(f"{today}")

2020-10-10 00:00:00

In [21]:
from datetime import datetime
today = datetime(2020,10,10)
print(f"{today:%d-%b-%Y}")

10-Oct-2020

In [22]:
from datetime import datetime
today = datetime(2020,10,10)
print(f"{today:%d/%b/%Y}")

10/Oct/2020

In [23]:
from datetime import datetime
today = datetime(2020,10,10)
print(f"{today:%d,%b,%Y}")

10,Oct,2020