In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)

In [3]:
mydb

In [4]:
cur = mydb.cursor()

In [5]:
cur.execute("show databases")

In [6]:
a = cur.fetchall()

In [7]:
for i in enumerate(a):
    print(i)

(0, ('information_schema',))
(1, ('aadil',))
(2, ('aadil111',))
(3, ('aadil_sql_revision',))
(4, ('gta',))
(5, ('jio',))
(6, ('mysql',))
(7, ('performance_schema',))
(8, ('sakila',))
(9, ('sme',))
(10, ('sys',))
(11, ('world',))

In [8]:
mydb.close()

In [9]:
mydb.is_connected()

False

In [14]:
import mysql.connector as connection

In [15]:
mydb = connection.connect(host="localhost",user="root",passwd="Aadil@78600",use_pure=True)

In [16]:
mydb

In [18]:
cur = mydb.cursor()

In [19]:
cur.execute("create database two_august")

In [24]:
mydb = connection.connect(host="localhost",user="root",database = "two_august",passwd="Aadil@78600",use_pure=True)

ProgrammingError: 1046 (3D000): No database selected

In [26]:
mydb

In [27]:
mydb.is_connected()

True

In [28]:
mydb = connection.connect(host="localhost",user="root",database = "two_august",passwd="Aadil@78600",use_pure=True)

In [29]:
mydb

In [30]:
mydb.close()

In [31]:
mydb

In [32]:
mydb.is_connected()

False

ProgrammingError: 1046 (3D000): No database selected

In [35]:
cur.execute("show databases")

In [36]:
cur.fetchall()

[('information_schema',),
 ('aadil',),
 ('aadil111',),
 ('aadil_sql_revision',),
 ('gta',),
 ('jio',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sme',),
 ('sys',),
 ('two_august',),
 ('world',)]

In [37]:
mydb.close()

In [38]:
import mysql.connector as connection

In [39]:
mydb = connection.connect(host="localhost",user="root",database = "two_august",passwd="Aadil@78600",use_pure=True)

In [40]:
cur = mydb.cursor()

In [41]:
cur.execute("create table aug(x1 int(5),x2 varchar(20),x3 DATE)")

In [45]:
cur.execute("select * from aug")

In [46]:
cur.fetchall()

[]

In [49]:
cur

In [50]:
cur.execute("insert into aug(x1,x2,x3) values(1234,'Aadil','9999-12-31')")

In [51]:
mydb.commit()

In [52]:
cur.execute("select * from aug")

In [53]:
a = cur.fetchall()

In [54]:
a

[(1234, 'Aadil', datetime.date(9999, 12, 31))]

In [66]:
cur

In [67]:
cur.execute("select x3,x1 from aug")

In [68]:
a = cur.fetchall()

In [69]:
a

[(datetime.date(9999, 12, 31), 1234)]

In [70]:
cur
for i in enumerate(a):
    print(i)

(0, (datetime.date(9999, 12, 31), 1234))

In [71]:
cur

In [74]:
query = "delete from two_august.aug where x1=1234"
cur.execute(query)

In [75]:
mydb.commit()

In [76]:
cur.fetchall()

[]

In [79]:
cur

In [80]:
cur.execute("insert into aug(x1,x2,x3) values(1234,'Aadil','9999-12-31')")

In [81]:
db.commit()

NameError: name 'db' is not defined

In [84]:
query = "update two_august.aug set x1=4567,x2='samsu' where x1=1234"
cur.execute(query)

In [85]:
mydb.commit()

In [88]:
cur.execute("select * from aug")

In [89]:
cur.fetchall()

[(4567, 'samsu', datetime.date(9999, 12, 31)),
 (4567, 'samsu', datetime.date(9999, 12, 31))]