In [54]:
import mysql.connector as connection

In [55]:
conn = connection.connect(host="localhost",database="aadil111",user="root",passwd="Aadil@78600",use_pure=True)

In [56]:
cur = conn.cursor()

In [57]:
conn.is_connected()

True

In [58]:
cur.execute("create table test111 (x1 INT(5),X2 VARCHAR(20),x3 DATE)")
conn.close()

ProgrammingError: 1050 (42S01): Table 'test111' already exists

In [34]:
conn = connection.connect(host="localhost",database="aadil111",user="root",passwd="Aadil@78600",use_pure=True)

In [35]:
conn.is_connected()

True

In [59]:
cur = conn.cursor()

In [60]:
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")

In [61]:
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")
cur.execute("insert into test111 values(4565,'shudh', '2021-05-15')")

In [65]:
conn.commit()

In [66]:
for i in cur.fetchall():
    print(i)

In [ ]:
mydb