# Krish Naik MY-SQL

## Creating Databases in Mysql

In [1]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(host="localhost",user="root",password="Aadil@78600") 

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000000051CCEC8>

## Creating a Databases

In [2]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE krish5")

In [3]:
cursor.execute("show databases")

In [4]:
for databases in cursor:
    print(databases)

('information_schema',)
('aadil',)
('aadil111',)
('aadil_sql_revision',)
('gta',)
('jio',)
('krish',)
('krish2',)
('krish5',)
('mysql',)
('performance_schema',)
('sakila',)
('sme',)
('sys',)
('two_august',)
('world',)

## Creating Tables And Inserting Records

In [5]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(host="localhost",user="root",password="Aadil@78600",database="krish5")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000005C3CD88>

## Create Table In MySQL using Python

#### Here, auto increment primary key, is used to give the value to first record as 1, and this value should increase after every record by 1.

In [6]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),subject VARCHAR(255))")

## Insert Records in Table

here, %s,%s is basically a place holder and it represent string or varchar, here it is holding values john and stats.

In [7]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [8]:
connection.commit()
cursor = connection.cursor()
cursor.execute("select * from studentinfo")
cursor.fetchall()

[(1, 'John', 'Stats')]

#### select all

In [9]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [10]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats')]

## Insert Many Records in Table

In [11]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [12]:
connection.commit()
cursor = connection.cursor()
cursor.execute("select * from studentinfo")
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [13]:
cursor = connection.cursor()
cursor.execute("select * from studentinfo") 
cursor.fetchone()

(1, 'John', 'Stats')

## Executing with the help of loops

In [4]:
import mysql.connector as sql

connection = sql.connect(host="localhost",user="root",password="Aadil@78600",database="krish5")

In [5]:
cursor = connection.cursor()

In [7]:
cursor.execute("select * from studentinfo")

lst = cursor.fetchall()

for record in lst:
    print(record)

(1, 'John', 'Stats')
(2, 'Krish', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

#### Selecting Perticular Rows

In [8]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [9]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

#### Select Perticular Columns

In [10]:
cursor.execute("Select subject from studentinfo")

#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

#### Avoiding the Repeatating Once

In [11]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [12]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

#### Drop Table

In [13]:
cursor.execute("DROP TABLE studentinfo")