# Higher Order Functions

### Filter Functions by krish naik

Filter Function Hamesha True ko filter Karta Hai.

In [1]:
def even(num):
    if num%2==0:
        return True

In [2]:
lst = [1,2,3,4,5,6,7,8]

In [3]:
filter(even,lst)

In [4]:
list(filter(even,lst))

[2, 4, 6, 8]

In [5]:
list(filter(lambda num:num%2 == 0, lst))

[2, 4, 6, 8]

In [6]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True]

#### filter function by geeky shows

In [7]:
marks = [10,50,60,80,90,5,45,65]

In [8]:
def high_marks(n):
    if n>=60:
        return True

In [9]:
result = filter(high_marks,marks)

In [10]:
print(result)

<filter object at 0x000000000526DCC8>

In [11]:
print(type(result))

<class 'filter'>

In [12]:
for i in result:
    print(i)

60
80
90
65

In [13]:
list(filter(high_marks,marks))

[60, 80, 90, 65]

In [14]:
list(filter(lambda n: (n>=60), marks))

[60, 80, 90, 65]

Agar hum function ke jagah pr None ko run kare toh yeh srf True statement pr run krta hai.

In [15]:
list(filter(None, marks))

[10, 50, 60, 80, 90, 5, 45, 65]

In [16]:
lst = [False, True, False, True, False, True, False, True]

In [17]:
list(filter(None, lst))

[True, True, True, True]

### Filter By Code With Harry

In [18]:
lst = [1,2,3,4,5,6,7,8]

In [19]:
def is_greater_5(num):
    return num>5

In [20]:
gr_than_5 = list(filter(is_greater_5, lst))

In [21]:
print(gr_than_5)

[6, 7, 8]

# Map Function

#### Code With Harry

map kisi bhi function ko ek list mai apply kr deta hai.

In [22]:
numbers = ["1","2","3","4","5","6"]

for i in range(len(numbers)):
    numbers[i] = int(numbers[i])
               
numbers[2] = numbers[2] + 1
print(numbers[2])

4

Ab Hum Koi Baar Baar thodi na for loops chalayege, jab hamara kaam map functions se ek line mai ho sakta hai.

In [23]:
numbers = list(map(int, numbers))

In [24]:
numbers

[1, 2, 4, 4, 5, 6]

In [25]:
# Example:-2

num = [1,2,3,4,5,6,7,8]

def sq(a):
    return a*a

square = list(map(sq, num))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64]

In [26]:
square = list(map(lambda x: x*x, num))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64]

In [27]:
# example 3

def square(a):
    return a*a

def cube(a):
    return a*a*a 

func = [square, cube]
for i in range(5):
    val = list(map(lambda x:x(i), func))
    print(val)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

#### Map Function by Krish Naik

In [28]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [29]:
even_or_odd(24)

'The number 24 is Even'

In [30]:
lst = [1,2,3,4,5,6,7]

In [31]:
map(even_or_odd,lst)

In [32]:
list(map(even_or_odd,lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd']

#### Map Fucntion by Geeky Shows

In [33]:
a1 = [1,2,3,4,5,6,7,8]

In [34]:
def inc(n):
    return n+2

In [35]:
result = map(inc,a1)

In [36]:
print(result)

<map object at 0x00000000052A4C88>

In [37]:
for i in result:
    print(i)

3
4
5
6
7
8
9
10

In [38]:
print(type(result))

<class 'map'>

In [39]:
result = list(map(inc,a1)) 

print(result)

[3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
print(type(result))

<class 'list'>

In [41]:
result = list(map(lambda n: n+2 ,a1)) 

print(result)

[3, 4, 5, 6, 7, 8, 9, 10]

Map Function mai hum ek se jyada iterable list de sakte hai

In [42]:
# Adding 2 list,(element in both list should be same...)

a = [1,2,3,4,5]
b = [6,7,8,9,1]

result = list(map(lambda n, m: n+m ,a,b)) 
                                          # here n represent a and m represent b
print(result)

[7, 9, 11, 13, 6]

In [43]:
for i in result:
    print(i)

7
9
11
13
6

# Reduce Function

#### Reduce Function by Code with harry

In [44]:
lst1 = [1,2,3,4,5,6,7,8]

num = 0
for i in lst1:
    num = num + i
print(num)

36

In [45]:
from functools import reduce 
sum = reduce(lambda n,m: n+m, lst1)

In [46]:
print(sum)

36

#### Reduce Function by Geeky Shows

reduce function is a function from functools, so we have to import it from functools.

In [47]:
from functools import reduce

a = [10,20,30,40,50]

result = reduce(lambda n,m: n+m, a)

print(result)

print(type(result))

150
<class 'int'>

In [48]:
a = [1,2,3,4,5,6]

result = reduce(lambda n,m: n*m, a)

print(result)

print(type(result))

720
<class 'int'>