# format() String

In [1]:
str = "my age is {}"
print(str.format(62))

my age is 62

In [2]:
print("my age is {}".format(62))

my age is 62

# ------------------------------------------------------------------------------------------

'%d' == '{:d}'

'%05.3f' == '{:05.3f}'

In [3]:
print("{}".format(10))

print("{} {}".format(10,20)) 

print("mobile phone{} computer price {}".format(10,20))

10
10 20
mobile phone10 computer price 20

In [4]:
print("{0} {1}".format(10,20))

10 20

In [5]:
print("{1} {0}".format(10,20))

20 10

In [6]:
print("{a} {b}".format(a=10,b=20))

10 20

In [7]:
print("{b} {a}".format(a=10,b=20))

20 10

In [8]:
print("{b}                  {a}".format(a=10,b=20))

20                  10

In [9]:
print("{b} {a}".format(a=10.05,b=20.98))

20.98 10.05

In [10]:
print("{0} {1}".format(10.05,20.98))

10.05 20.98

In [11]:
print("{0} {1}".format("aadil","golu"))

aadil golu

In [12]:
print("{a} {b}".format(a = "aadil",b="golu"))

aadil golu

In [13]:
print("{a} {b}".format(a = 10 ,b="golu"))   
                                           # here 10 is an string, becoz humne %d nhi likha h.

10 golu

In [14]:
print("{a:d} {b:d}".format(a = 10, b=35 ))

10 35

In [15]:
print("{:d} {:d}".format(10,35 ))

10 35

In [16]:
print("{0:d} {1:d}".format(10, 35 ))

10 35

# Width

In [17]:
print("{0:5d}".format(10))  # created 5 boxes, 3 empty

   10

In [18]:
print("{a:5d}".format(a = 10))

   10

# Flag PADDING

In [19]:
print("{a:05d}".format(a = 10))

00010

In [20]:
print("{a:+5d}".format(a = 10))

  +10

In [21]:
print("{a:=5d}".format(a = 10))

   10

# ALLIGNMENT

In [22]:
print("{a:<5d}".format(a = 10))         # 5 BOXES CREATED (3-EMPTY), FROM LEFT

10

In [23]:
print("{a:*<5d}".format(a = 10))

10***

In [24]:
print("{a:*>5d}".format(a = 10))

***10

In [25]:
print("{a:^<5d}".format(a = 10))

10^^^

In [26]:
print("{a:^5d}".format(a = 10))  # WRITTEN IN CENTRE OF 5 BOXES.

 10

In [27]:
print("{a:*^5d}".format(a = 10))
print("{a:^5d}".format(a = 10))

*10**
 10

# Float

In [28]:
print("{}".format(15.65))    # string
print("{:f}".format(15.65))  # float
print("{0:f}".format(15.65))
print("{num:f}".format(num = 15.65))

15.65
15.650000
15.650000
15.650000

### Width with float

In [29]:
print("{num:8f}".format(num=15.65))
                            # remember that after point float takes 8 boxes in width
        # yaha width ko 8 empty box create krna tha lekin ab 9 create kr rha h, decimal included.

15.650000

### precision, width and float

In [30]:
print("{num:8.3f}".format(num=15.65))
                               # decimal ke baad srf 3 digit dikhao.

  15.650

# -------------------------------------------------------------------------------------

In [31]:
print("{num:8f}".format(num=15.65))
print("{num:8.3f}".format(num=15.65))
print("{num:8.2f}".format(num=15.65))

15.650000
  15.650
   15.65

# Allignment

In [32]:
print("{num:<8.2f}".format(num=15.65))
print("{num:*<8.2f}".format(num=15.65))

15.65
15.65***

In [33]:
print("{num:f}".format(num=15.65)) 
print("{num:*<8.2f}".format(num=15.65))
print("{num:*>8.2f}".format(num=15.65))
print("{num:^8.2f}".format(num=15.65))
print("{num:*^8.2f}".format(num=15.65))

15.650000
15.65***
***15.65
 15.65
*15.65**

# Seperator

In [34]:
print("{:,}".format(1234567890))

1,234,567,890

In [35]:
print("{:_}".format(1234567890))

1_234_567_890

# -------------------------------------------------------------------------------------

In [36]:
a = 50 
b =3 
print("{:.2}".format(a/b))    # exponent

1.7e+01

In [37]:
a = 50 
b =3 
print("{:.2%}".format(a/b))   # percent

1666.67%

In [38]:
a = (50, 60) 
print("{} {}".format(a))     # tuple error

IndexError: tuple index out of range

In [39]:
a = (50, 60) 
print("{0} {1}".format(a))   # tuple error

IndexError: tuple index out of range

In [40]:
value = (50, 60) 
print("{0[0]} {0[1]}".format(value))

50 60

In [41]:
a = {'rahul':2000, 'sonam': 3000}
print("{0[rahul]:d} {0[sonam]:d}".format(a))

2000 3000

In [42]:
a = {'rahul':2000, 'sonam': 3000}
print("{0[rahul]:d} {0[sonam]}".format(a))   # 3000 is string here

2000 3000

In [43]:
# second method
value = {'rahul':2000, 'sonam': 3000}
print("{a[rahul]:d} {a[sonam]:d}".format(a = value))

2000 3000

In [51]:
value = {'rahul':2000, 'sonam': 3000, 'game':'gta'}
print("{rahul} {sonam} {game}".format(**value))

2000 3000 gta