# Functions

Functions are created, so that we do not need to write the same code again & again in multiple places.

In [1]:
num = 24
if num%2 == 0:
    print("The number is even")
else:
    print("the no. is odd")

The number is even

### num is the parameter in the function.

In [2]:
def even_or_odd(num): 
    if num%2 == 0:
        print("The number is even")
    else:
        print("the no. is odd")

In [3]:
even_or_odd(250)

The number is even

## Print vs Return

In [4]:
def hello_world():
    print("Hello World")

In [5]:
hello_world()

Hello World

In [6]:
val = hello_world()

Hello World

In [7]:
# after printing val,it will not return Hello World. becoz we used here print. 
val

In [8]:
def hello_world():
    return("Hello World")

In [9]:
val1 = hello_world()

In [10]:
# after printing val,it will return Hello World. becoz we used here return statement.
val1

'Hello World'

In [11]:
def add_number(num1,num2):
    return num1 + num2

In [12]:
val = add_number(45,45)

In [13]:
val

90

# Positional Argument and Keywords Arguments.

when we provide some value in the parameter, this means it is Keyword Arguments or default parameter.<br>
And when we do not provide any value to the argument it is known as Positional Arguments.

In [14]:
# here name is positional argument while age is keyword arguments.

def hello(name,age = 22):
    print("my name is {} and my age is {}.".format(name,age))

In [15]:
hello("Aadil")

my name is Aadil and my age is 22.

## *args & **kwargs

#### First Way

In [16]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [17]:
hello("krish","naik",age = 29, dob = 1999)

('krish', 'naik')
{'age': 29, 'dob': 1999}

#### Second Way

In [18]:
lst = ['krish', 'naik']
dict_args = {'age': 29, 'dob': 1999}

In [19]:
hello(*lst,**dict_args)

('krish', 'naik')
{'age': 29, 'dob': 1999}

## Returning 2 values from a Function

In [20]:
lst = [1,2,3,4,5,6,7]

In [21]:
def even_odd_sum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2 == 0:
            even_sum = even_sum + i
        else:
            odd_sum = odd_sum + i
    return even_sum,odd_sum

In [22]:
even_odd_sum(lst)

(12, 16)