## Py-Mongo

pymongo is a driver to connect the python with mongodb

!pip install pymongo     # requirement already satisfied

if __name__ == "__main__":    
# yeh main method isiliye use karte hai hum,
# becoz yeh dikhati hai ki hum ek statndard python expert hai.
# jab bhi hum is python file ko import karenge, dsuri python file mai
# toh is line ke upper jo bhi code likha hoga woh code hi import hoga.
# main method ke neeche ka code us python file mai run nhi hoga.
# this is generally used in vs code or it can be used when we are writing many lines of code in 
jupyter notebook

In [1]:
# Creating a Connection
import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client.test
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [2]:
## Creating a database
# Remember that in Mongodb we see Database, only if we create a collection with it(Collection =Tables)
#database is not, in mongodb shown untill we enter some data in database unlike mysql

db = client['harrybhai']

In [3]:
#listing database
client.list_database_names() #no need to remember the query, only type .list and it will come in box

['Aadil111', 'admin', 'codewithharry', 'config', 'harrybhai', 'local']

In [4]:
# Creating Collections(Tables)
collection = db['mySampleCollectionForHarry']

In [5]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'harrybhai'), 'mySampleCollectionForHarry')

#### Inserting Documents(Rows and Values[BSON Format(Dict.)]) In Collection(Table).

#### insert_one

In [6]:
record={'computername':'aadil',
       'product':'AI',
        'name':["shudh","kumar",99875]
       } 
collection.insert_one(record)

#### insert_many

In [7]:
lists_of_records=[
    {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
     },
{
    'Colorado1' : 'Rockies',
    'Boston2'   : 'Red Sox',
    'Minnesota3': 'Twins',
    'Milwaukee4': 'Brewers',
    'Seattle5'  : 'Mariners'
     },
{
    'Colorado11' : 'Rockies',
    'Boston22'   : 'Red Sox',
    'Minnesota33': 'Twins',
    'Milwaukee44': 'Brewers',
    'Seattle55'  : 'Mariners',
    'aadil':[{'aadil':"gta"},{'aadil2':"gta"},{'aadil3':[1,2,3,4,5,6,7,8,9]},{'phone':[11,22,3,4,5,6,7,8,9]}]
    }]


rec = collection.insert_many(lists_of_records)

Mongodb har documents ko collection mai store karti hai,and auto id de deti hai,(_id)<br>
agar hum chahe toh is id ko manually bhi set kar sakte hai.

In [8]:
#id no. hum khud hi de rhe hai
list_of_records_user_defined_id = [
    {"_id": "8",
    "companyName": "aineurox",
    "Faculty": "mukesh"},
    {"_id": "9",
    "companyName": "aineurox",
    "Faculty": "Sagar"},
]

rec = collection.insert_many(list_of_records_user_defined_id)

pymongo.errors.BulkWriteError: batch op errors occurred <br>
Mongodb yeh error jab deta hai jab hum ya toh baar baar ek hi document ko collection mai enter kar rhe hai ya , jab hum same _id no. ka collection baar baar enter karne ki koshish mai hote hai.

#### find the document from collection

In [9]:
#find method
collection.find_one()      # it will give any random document from colection.

{'_id': ObjectId('611e2fe13d6af02fb5a9328d'),
 'computername': 'aadil',
 'product': 'AI',
 'name': ['shudh', 'kumar', 99875]}

In [10]:
collection.find_one({'Seattle'  : 'Mariners'})   # filtering(finding) a specific Document

{'_id': ObjectId('611e309b3d6af02fb5a9328e'),
 'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [11]:
# sabhi collection ko find kro 
collection.find()

In [12]:
#for iterating all data using loops and getting all data
for i in collection.find():
    print(i)

{'_id': ObjectId('611e2fe13d6af02fb5a9328d'), 'computername': 'aadil', 'product': 'AI', 'name': ['shudh', 'kumar', 99875]}
{'_id': ObjectId('611e309b3d6af02fb5a9328e'), 'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
{'_id': ObjectId('611e309b3d6af02fb5a9328f'), 'Colorado1': 'Rockies', 'Boston2': 'Red Sox', 'Minnesota3': 'Twins', 'Milwaukee4': 'Brewers', 'Seattle5': 'Mariners'}
{'_id': ObjectId('611e309b3d6af02fb5a93290'), 'Colorado11': 'Rockies', 'Boston22': 'Red Sox', 'Minnesota33': 'Twins', 'Milwaukee44': 'Brewers', 'Seattle55': 'Mariners', 'aadil': [{'aadil': 'gta'}, {'aadil2': 'gta'}, {'aadil3': [1, 2, 3, 4, 5, 6, 7, 8, 9]}, {'phone': [11, 22, 3, 4, 5, 6, 7, 8, 9]}]}
{'_id': ObjectId('611ea35ef70cfb1f565a1d5f'), 'computername': 'aadil', 'product': 'AI', 'name': ['shudh', 'kumar', 99875]}
{'_id': ObjectId('611ea35ef70cfb1f565a1d60'), 'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
{'_id': ObjectId('611ea35ef70cfb1f565a1d61'), 'Colorado1': 'Rockies', 'Boston2': 'Red Sox', 'Minnesota3': 'Twins', 'Milwaukee4': 'Brewers', 'Seattle5': 'Mariners'}
{'_id': ObjectId('611ea35ef70cfb1f565a1d62'), 'Colorado11': 'Rockies', 'Boston22': 'Red Sox', 'Minnesota33': 'Twins', 'Milwaukee44': 'Brewers', 'Seattle55': 'Mariners', 'aadil': [{'aadil': 'gta'}, {'aadil2': 'gta'}, {'aadil3': [1, 2, 3, 4, 5, 6, 7, 8, 9]}, {'phone': [11, 22, 3, 4, 5, 6, 7, 8, 9]}]}
{'_id': '4', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '5', 'companyName': 'aineurox', 'Faculty': 'Sagar'}
{'_id': ObjectId('611ea4d2f00d6abb52fe895f'), 'computername': 'aadil', 'product': 'AI', 'name': ['shudh', 'kumar', 99875]}
{'_id': ObjectId('611ea4d2f00d6abb52fe8960'), 'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
{'_id': ObjectId('611ea4d2f00d6abb52fe8961'), 'Colorado1': 'Rockies', 'Boston2': 'Red Sox', 'Minnesota3': 'Twins', 'Milwaukee4': 'Brewers', 'Seattle5': 'Mariners'}
{'_id': ObjectId('611ea4d2f00d6abb52fe8962'), 'Colorado11': 'Rockies', 'Boston22': 'Red Sox', 'Minnesota33': 'Twins', 'Milwaukee44': 'Brewers', 'Seattle55': 'Mariners', 'aadil': [{'aadil': 'gta'}, {'aadil2': 'gta'}, {'aadil3': [1, 2, 3, 4, 5, 6, 7, 8, 9]}, {'phone': [11, 22, 3, 4, 5, 6, 7, 8, 9]}]}
{'_id': '6', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '7', 'companyName': 'aineurox', 'Faculty': 'Sagar'}
{'_id': ObjectId('6123b8b13c58d58daa8ae858'), 'computername': 'aadil', 'product': 'AI', 'name': ['shudh', 'kumar', 99875]}
{'_id': ObjectId('6123b8b23c58d58daa8ae859'), 'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
{'_id': ObjectId('6123b8b23c58d58daa8ae85a'), 'Colorado1': 'Rockies', 'Boston2': 'Red Sox', 'Minnesota3': 'Twins', 'Milwaukee4': 'Brewers', 'Seattle5': 'Mariners'}
{'_id': ObjectId('6123b8b23c58d58daa8ae85b'), 'Colorado11': 'Rockies', 'Boston22': 'Red Sox', 'Minnesota33': 'Twins', 'Milwaukee44': 'Brewers', 'Seattle55': 'Mariners', 'aadil': [{'aadil': 'gta'}, {'aadil2': 'gta'}, {'aadil3': [1, 2, 3, 4, 5, 6, 7, 8, 9]}, {'phone': [11, 22, 3, 4, 5, 6, 7, 8, 9]}]}
{'_id': ObjectId('6123b90d0d344939d6d9d182'), 'computername': 'aadil', 'product': 'AI', 'name': ['shudh', 'kumar', 99875]}
{'_id': ObjectId('6123b90d0d344939d6d9d183'), 'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
{'_id': ObjectId('6123b90d0d344939d6d9d184'), 'Colorado1': 'Rockies', 'Boston2': 'Red Sox', 'Minnesota3': 'Twins', 'Milwaukee4': 'Brewers', 'Seattle5': 'Mariners'}
{'_id': ObjectId('6123b90d0d344939d6d9d185'), 'Colorado11': 'Rockies', 'Boston22': 'Red Sox', 'Minnesota33': 'Twins', 'Milwaukee44': 'Brewers', 'Seattle55': 'Mariners', 'aadil': [{'aadil': 'gta'}, {'aadil2': 'gta'}, {'aadil3': [1, 2, 3, 4, 5, 6, 7, 8, 9]}, {'phone': [11, 22, 3, 4, 5, 6, 7, 8, 9]}]}
{'_id': '8', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '9', 'companyName': 'aineurox', 'Faculty': 'Sagar'}

In [13]:
allDocs = collection.find({"companyName" : "aineurox"})

In [14]:
for item in allDocs:
    print(item)

{'_id': '4', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '5', 'companyName': 'aineurox', 'Faculty': 'Sagar'}
{'_id': '6', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '7', 'companyName': 'aineurox', 'Faculty': 'Sagar'}
{'_id': '8', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '9', 'companyName': 'aineurox', 'Faculty': 'Sagar'}

Ab humne socha ki yaar humko srf kuch specific keys & value chahie, baaki ke nhi chahiye.<br>
toh ek kaam kro , jo- jo chahiye uske values mai {1} likh do, toh automatically,<br>
baaki ki sab values zeros set ho jaayegi.nd zero waali values print nhi hoti hai,<br>

yeh condition '_id' ke liye valid nhi hoti hai.<br>
means _id default 1 pe set hoti h, agr humko id nhi chahiye toh humko<br>
id ko as {0} set krna parega.<br>

In [15]:
allDocs = collection.find({"companyName" : "aineurox"},{'Faculty': 1})
for item in allDocs:
    print(item)

{'_id': '4', 'Faculty': 'mukesh'}
{'_id': '5', 'Faculty': 'Sagar'}
{'_id': '6', 'Faculty': 'mukesh'}
{'_id': '7', 'Faculty': 'Sagar'}
{'_id': '8', 'Faculty': 'mukesh'}
{'_id': '9', 'Faculty': 'Sagar'}

In [16]:
allDocs = collection.find({"companyName" : "aineurox"},{'Faculty': 1,'_id':0})
for item in allDocs:
    print(item)

{'Faculty': 'mukesh'}
{'Faculty': 'Sagar'}
{'Faculty': 'mukesh'}
{'Faculty': 'Sagar'}
{'Faculty': 'mukesh'}
{'Faculty': 'Sagar'}

# ----------------------------------------------------------------------------------------

In [17]:
#listing database
client.list_database_names() #no need to remember the query, only type .list and it will come in box

['Aadil111', 'admin', 'codewithharry', 'config', 'harrybhai', 'local']

In [18]:
print(pymongo.version)

3.10.1

In [19]:
# print kro ki perticular DataBase m kon-kon se collection hai.
col = client['harrybhai']
print(col.list_collection_names())

['mySampleCollectionForHarry']

In [20]:
#### No. of documents in the collection having key as 'faculty'.
allDocs = collection.find({"companyName" : "aineurox"},{'Faculty': 1})
print(allDocs.count())

6

c:\users\todays\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
# limit the no. of rows in output 
allDocs = collection.find({"companyName" : "aineurox"},{'Faculty': 1}).limit(1)

In [22]:
allDocs

In [23]:
for item in allDocs:
    print(item)

{'_id': '4', 'Faculty': 'mukesh'}

#### Update And Delete

In [25]:
# update is done with "$set" sign
prev = {'_id': '4'}
nextt = {"$set": {"Faculty" : "Aadilji"}} 
collection.update_one(prev,nextt)

Yeh id:4 mai jaa kr "Faculty" key pr jaa kr Mukesh ko hata kar "Aadilji" set kar dega,<br>
    aur agar id:4 pr agar koi bhi Faculty naam ki koi key Nhi rahi toh wha pr yeh new key and value 
        bana dega.

#### Agar mai saare Faculty jaha pr shubham hai,unki company ka naam change karna chahta hu
#### wha hum update many karenge.

In [26]:
prev = {"Faculty" : "Aadilji"}
nextt = {"$set": {"companyName": "employed_engineers"}}
up = collection.update_many(prev,nextt)

In [27]:
up

In [28]:
prev = {"Faculty" : "Sagar"}
nextt = {"$set": {"companyName": "employed_engineers"}}
up1 = collection.update_many(prev,nextt)

In [29]:
up1

#### Kitne documents modified ho gye hai unko count karne ke liye modified_count

In [30]:
prev = {"companyName": "employed_engineers"}
nextt = {"$set": {"Faculty" : "Aadilji"}}
up1 = collection.update_many(prev,nextt)

In [31]:
up1

In [32]:
up1.modified_count

3

### Delete

In [33]:
# Delete_one
rec = {"companyName": "employed_engineers"}
del_1 = collection.delete_one(rec) 

#yeh puri dict. ko del karega na ki srf woh key jo humne daali hai

In [34]:
del_1

In [35]:
# Delete Many
rec = {"companyName": "employed_engineers"}
del_m = collection.delete_many(rec)
del_m

#### Deleted_count

In [37]:
del_m.deleted_count

3

#### Modifiers

In [38]:
list_of_records1 = [
    {"_id": "15",
    "Name": "Aadil",
    "Marks": 50},
    {"_id": "16",
    "Name": "Aadil",
    "Marks": 90},
]

rec = collection.insert_many(list_of_records1)

In [40]:
#### Find Kro Aadil ko aur srf woh record prints kro jisme marks 60 se kam ho.

allDocs = collection.find({"Name":"Aadil", "Marks": {"$lte":60}})

In [41]:
for item in allDocs:
    print(item)

{'_id': '15', 'Name': 'Aadil', 'Marks': 50}

In [43]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

collection.insert_many(random_data)

In [45]:
#del many query to del data id greater than equals to 4
for i in collection.find({"_id":{"$gte":"4"}}):
                                    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': '6', 'companyName': 'aineurox', 'Faculty': 'mukesh'}
{'_id': '8', 'companyName': 'aineurox', 'Faculty': 'Aadil'}

In [47]:
collection.delete_many({"_id":{"$gte":"4"}})

#### Enumerate

In [48]:
inserted_IDs = rec.inserted_ids
for idno, unique_ids in enumerate(inserted_IDs):
    print(f"{idno}. {unique_ids}")

0. 15
1. 16

#### ------------------------------------------------------------------------------------------------

In [49]:
random_data = [
    {'_id': '33', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '34', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '35', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

rec1 = collection.insert_many(random_data)

In [50]:
inserted_IDs = rec1.inserted_ids
for idno, unique_ids in enumerate(inserted_IDs):
    print(f"{idno}. {unique_ids}")

0. 33
1. 34
2. 35

#### Harry Bhai Ki Di gyi Mongodb Cheat Sheet ko seedhe hum Mongo Shell mai Use Kar sakte hai,
#### Aur usi cheat sheet ko pymongo mai with python kaise use karte hai, yeh hum log ne dekh liya upper