# Anonymous Function Or Lambda Function

A Function without a name is called as Anonymous Function or Lambda Function.<br>
Anonmymous Functions are not defined by using def keywords rather they are defined by lambda keywords.

1. Lambda Functions is a new way of creating a functions, it is one-liner code functions.<br>
2. Lambda Function returns a function.<br>
3. Lambda function can take zero or any number of arguments but contains only one expressions.<br>
4. In Lambda function there is no need of writing a return statement.<br>
5. we can't use statement in lamba function(if,else, or loops).<br>
6. we can't use variables in expression of lamda function.

Syntax:- 
    lamda arguments/parameter : manipulate (parameter/arguments)

In [1]:
def minus(x,y):
    return x-y

print(minus(9,4))

5

In [2]:
minus = lambda x,y : x-y

print(minus(9,4))

5

In [3]:
minus = lambda x : print(x)

minus(5)

5

In [4]:
add = lambda x, y : x + y

print(add(5,7))

12

In [5]:
add_sub = lambda x, y : (x + y, x - y)
a, s = add_sub(5,2)
print(a)
print(s)

7
3

### DEFAULT ARGUMENT IN LAMBDA FUNCTIONS:-

In [6]:
add = lambda x, y=3 : x + y

print(add(5))

8

In [7]:
add = lambda x, y=3 : x + y

print(add(5, 5))

10

# NESTED LAMBDA FUNCTIONS

WHEN WE WRITE A LAMBDA FUNCTION IN ANOTHER LAMBDA FUNCTION

In [8]:
add = lambda x = 10 : (lambda y: x + y)

a = add()
print(a(20))

30

Actually, nested lambda function hum jab bhi use karte hai and jab hum lambda function ko call
karte hai, tab kya hota hai ki inner lambda function execute hota hai, and woh outer lambda Functions
ka value le leta hai, here example is that inner lambda function's has taken the value of x from
outside lambda  function.

# Passing lambda function to Another Function

We can pass lambda function to another function.

In [9]:
def show(a):      # function calling ke baad yeh hojayega a = lambda x : x <<------
    print(a(8))    #                                                              |
                   #                                                              |
show(lambda x : x) #-------------------------------->> function calling.----------


# Pehle show function ko call kiya, ab show ek parameter leta hai (a), toh ab a hogya a = lambda x : x
# phr humne print(a(8)) diya therefore, x becomes 8... i.e. (x= 8)

8

# Returning a Lambda Function

We can return a  lambda function from a function.

def add():   -------------------<<--------------
    y = 20                                     |
    return (lambda x : x + y) <-------<<-------|------------
                                               |           |
a = add()     --------------------------->>-----           |
print (a(10)) ------------------------->>-------------------

In [10]:
def add():   
    y = 20                                     
    return (lambda x : x + y) 

a = add()     
print (a(10))

30

# Sorted

In [11]:
# Sorting!

lst = [12,6,9]

In [12]:
sorted(lst)

[6, 9, 12]

In [13]:
sorted(lst, reverse= True)

[12, 9, 6]

In [14]:
lst_of_tuples = [('a', '2'),('c', '1'),('d','3'),('a','3')]

In [15]:
funct = lambda x : x[1]

In [16]:
sorted(lst_of_tuples, key= funct)

[('c', '1'), ('a', '2'), ('d', '3'), ('a', '3')]

In [17]:
# sort the list on the basis of 1st character but ignore the case(upper or lower).
lst_of_tuples = [('A', '2'),('a', '1'),('D','3'),('b','3')]

In [18]:
funct = lambda x: str.casefold (x[0])

In [19]:
sorted(lst_of_tuples, key= funct)

[('A', '2'), ('a', '1'), ('b', '3'), ('D', '3')]

### Multiple attributes sorting

In [20]:
lst_of_tuples = [('a', '4'),('c', '1'),('d','3'),('a','3')]

In [21]:
funct = lambda x: x[0]

In [22]:
sorted(lst_of_tuples, key= funct)

[('a', '4'), ('a', '3'), ('c', '1'), ('d', '3')]

In [23]:
funct = lambda x: (x[0], x[1])

In [24]:
sorted(lst_of_tuples, key= funct)

[('a', '3'), ('a', '4'), ('c', '1'), ('d', '3')]

### suppose we wan't to apply first elements in ascending & second one in descending

##### wrong example & code :-))

In [25]:
lst_of_tuples = [[200, 2],[400, 10],[300,3],[500,4]]

In [26]:
print(sorted(lst_of_tuples, key= lambda x : (x[0], -x[1])))

[[200, 2], [300, 3], [400, 10], [500, 4]]

=========================================================================

In [27]:
data = [
    ['company A', 400 , 6900],
    ['company B', 500 , 3500],
    ['company C', 500 , 5600],
    ['company D', 200 , 9900],
]

In [28]:
print(sorted(data, key= lambda x : (x[1], -x[2])))

[['company D', 200, 9900], ['company A', 400, 6900], ['company C', 500, 5600], ['company B', 500, 3500]]

it's never possible to get data like this ideally

In [29]:
func = lambda x: (x[1])
func2 = lambda x: (x[2])

In [30]:
sorted(sorted(data,key=func),key=func2,reverse=True)

[['company D', 200, 9900],
 ['company A', 400, 6900],
 ['company C', 500, 5600],
 ['company B', 500, 3500]]

--------------------------------------------------------------------------

# some more basic example

In [31]:
a = [[1,14], [5,6], [8,23]]
a.sort(key= lambda x : x[1])
print(a)

[[5, 6], [1, 14], [8, 23]]

In [32]:
a = [(1,14), (5,6), (8,23)]
a.sort(key= lambda x : x[1])
print(a)

[(5, 6), (1, 14), (8, 23)]

In [33]:
def x(val):
    return val[1]

a = [(1,14), (5,6), (8,23)]
a.sort(key= x) 
print(a)

[(5, 6), (1, 14), (8, 23)]

# IIFE:- Immidiately Invoke Function Expressions

No need to call the function, just write parameter after the lambda function.

In [34]:
(lambda x,y: print(x + y))(5,2)

7