# Geeky Shows YT Channel

# for loops

## range() functions

*range() function is used to generate a sequence of integers starting from zero, as default,increment
by 1 by default , till j-1.<br>
Syntax:-<br>
range(start,stop,stepsize)

In [1]:
range(10)         #range(j) = 0,1,2,3,4,5,......j-1

range(0, 10)

In [2]:
range(1,10)       #range(i,j) = i,i+1,i+2......j-1

range(1, 10)

In [3]:
print(range(1,10,2))    #range(i,j,k) = i,i+k,i+2k,i+3k......j-1

range(1, 10, 2)

In [4]:
print(range(-1,-10,-2))     # -1,-3,-5,-7

range(-1, -10, -2)

In [5]:
print(range(1,0,-1))      # 10,9,8,7,6,5........1

range(1, 0, -1)

## Rules:-
1. all arguments must be integers,(+ve or -ve)<br>
2. we can't pass strings, float point numbers,<br>
3. step size can't be zero.
4. index starts from zero.

In [6]:
a = range(5)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

0
1
2
3
4

In [7]:
a = range(1,5)
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

In [8]:
a = range(1,10,2)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
            # range() function retruns an immutable sequence type, which behave as a list.

1
3
5
7

In [9]:
list(range(5)) # we can convert an immutable sequence type(object) in list.

[0, 1, 2, 3, 4]

In [10]:
a = range(-1,-10,-2)
print(a[0])
print(a[1])
print(a[2])
print(a[3])

-1
-3
-5
-7

In [11]:
a = range(5,0,-1)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

5
4
3
2
1

# ----------------------------------------------------------------------------------

# For LOOPS

*The for loop is used to iterate over elements of sequence such as strings,list,tuple etc.

Syntax:- 
for var in sequence:            
    statements
Rest of the Code
                    # for & in should be as it is., var and sequence can be changed.

In [12]:
str = "GeekyShows"
for i in str:
    print(i)               
print("rest of the code")
                        # for loop str se ek character uthata hai phr usko i mai daalta hai,
                        # phr i ko print karta hai , phr for loop wapis execute hota hai,
                        # phr loop ek character utahata ,i mai daalta hai and i ko print krta h,
                        # and it continious so on,till the characters ends.

G
e
e
k
y
S
h
o
w
s
rest of the code

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
a = range(5)
for i in a: 
    print(i)

0
1
2
3
4

In [15]:
a = range(1,5)
for i in a: 
    print(i)

1
2
3
4

In [16]:
a = range(1,10,2)
for i in a: 
    print(i)

1
3
5
7
9

In [17]:
a = range(-1,-10,-2) 
for i in a: 
    print(i)

-1
-3
-5
-7
-9

In [18]:
a = range(10,0,-2)  
for i in a: 
    print(i)

10
8
6
4
2

## using range () to iterate through string in for loop

* but the problem is that range only iterate through integer, so we use:-<br>
len()

In [19]:
str = "GeekyShows"
n = len(str)
for i in range(n):
    print(f'{i} = {str[i]}')               
print("rest of the code")

0 = G
1 = e
2 = e
3 = k
4 = y
5 = S
6 = h
7 = o
8 = w
9 = s
rest of the code

In [20]:
str = "Geeky"
for i in range(len(str)):
    print(f'{i} = {str[i]}')               
print("rest of the code")

0 = G
1 = e
2 = e
3 = k
4 = y
rest of the code

In [21]:
str = "Geeky"
for i in range(len(str)):
    print(f'{str[i]}')               
print("rest of the code")

G
e
e
k
y
rest of the code

# For loop with Else

* The else statement will always get executed irrespective of loop execute or not

In [22]:
st = "geeky"
for i in st:
    print(i)
else:
    print("else always gets executed")
print('rest of the code')

g
e
e
k
y
else always gets executed
rest of the code

In [23]:
st = ""
for i in st:
    print(i)
else:
    print("else always gets executed")
print('rest of the code')             # loop nhi challa, becoz their is no element present to iterate

else always gets executed
rest of the code

# Nested for Loop

*loop inside a loop is called nested loop

Syntax:-

for i in range(n):
    statement_1       ----------
    for j in range(y):          |___\  Same Statement, can be written anywhere according to condition
        statement_2             |   /
    statement_1       ----------

In [24]:
for i in range(2):
    print("outer loop"+" --",i)
    for j in range(3):
        print("inner loop   ", j)
else:
    print("else part")
print("rest of the code")

outer loop -- 0
inner loop    0
inner loop    1
inner loop    2
outer loop -- 1
inner loop    0
inner loop    1
inner loop    2
else part
rest of the code

In [25]:
for i in range(2):
    for j in range(3):
        print("inner loop   ", j)
    print("outer loop"+" --",i)
else:
    print("else part")
print("rest of the code")

inner loop    0
inner loop    1
inner loop    2
outer loop -- 0
inner loop    0
inner loop    1
inner loop    2
outer loop -- 1
else part
rest of the code

# Break Statement

* Break Statement is used to jump  out of loop to process next statement in the program

Syntax:-
while condition:
    if(condition):
        break 
Rest of Code

# Continue Statement

*continue statement is use in a loop to go back to the beginning of loop.

Syntax:-
while condition:
    if(condition):
        continue
Rest of the Code

## Break Statement examples

In [26]:
for i in range(10):
    if (i == 5):
        break 
    print(i)
print("Rest Of the Code")

0
1
2
3
4
Rest Of the Code

In [27]:
for i in range(10):
    print(i)
    if (i == 5):
        break 
print("Rest Of the Code")

0
1
2
3
4
5
Rest Of the Code

## Continue Statement Examples

In [28]:
for i in range(10):
    if (i == 5):
        continue     
    print(i)
print("Rest Of the Code") 
         # continue statement code ko wapis upper loop ke paas bhej deta hai,it doesn't reset i value.

0
1
2
3
4
6
7
8
9
Rest Of the Code

In [29]:
for i in range(10):
    print(i)
    if (i == 5):
        continue     
print("Rest Of the Code")
                         # yaha tum bol sakte ho ki bhai loop yaha pr infinite loop mai kyu convert 
                         # nhi hua,since print(i), ke baad humne continue likha hai toh isko wapis 
                        # upper jaana chahiye, actually yeh wapis upper gya, lekin koi faayda nhi hua,
                    # becoz ab range ki saari value iteraye ho gyi hai, and list khal;i ho chuki hai.

0
1
2
3
4
5
6
7
8
9
Rest Of the Code

# Pass Statement

*pass statement does nothing,it is used with if,else statements and loops.

In [30]:
if 5 >2:
    pass
else:
    print("else is executed")
print("rest of the code")

rest of the code

In [31]:
if 5<2:
    pass
else:
    print("else is executed")
print("rest of the code")

else is executed
rest of the code

In [32]:
i = 1
while i<= 10:
    if(i==5):
        pass 
    print(i)
    i+=1 
print("rest of the code")

1
2
3
4
5
6
7
8
9
10
rest of the code

# Accessing List Via For Loops(iterating through list)

In [33]:
a = [10,20,30,40,50]
print(a[0])

10

In [34]:
a = [10,20,30,40,50,"Aadil"]
for elements in a:
    print(elements)

10
20
30
40
50
Aadil

In [35]:
a = [10,20,-30,40,50,"Aadil"]
for i in range(len(a)):
    print(a[i])

10
20
-30
40
50
Aadil

In [36]:
a = [10,20,-30,40,50,"Aadil"]
n = len(a) 
for i in range(n):
    print(a[i])

10
20
-30
40
50
Aadil

In [37]:
a = [10,20,-30,40,50,"Aadil"]
n = len(a) 
for i in range(n):
    print(i,"=",a[i])

0 = 10
1 = 20
2 = -30
3 = 40
4 = 50
5 = Aadil

# Accessing array using for loop

In [38]:
from array import *

In [39]:
stu_rol = ('i',[101,102,103,104,105])
# without index:-
for i in stu_rol:
    print(i)

i
[101, 102, 103, 104, 105]

In [40]:
stu_rol = ('i',[101,102,103,104,105])
# with index:-
for i in range(len(stu_rol)):
    print(i, stu_rol[i])

0 i
1 [101, 102, 103, 104, 105]

In [41]:
for i in stu_rol[1]:
    print(i)

101
102
103
104
105

# Enumerate Function

In [46]:
lst=["bhindi","aloo","chopstick","chowmin"]

i = 1
for item in lst:
    if i%2 is not 0:                    # i%2!=0
        print(f'Jarvis pls buy {item}')
    i+=1

Jarvis pls buy bhindi
Jarvis pls buy chopstick

In [48]:
a = ['codewithharry',"t-series","mixer-grinder","pen"]
i = 0
for item in a:
    i = i + 1
    if i%2==0:
        print(item)

t-series
pen

In [44]:
lst=["bhindi","aloo","chopstick","chowmin"] 
for index, item in enumerate(lst):
    if index%2==0:
        print(f"jarvis pls buy {item}")

jarvis pls buy bhindi
jarvis pls buy chopstick

In [49]:
a = ['codewithharry',"t-series","mixer-grinder","pen"]
for i, item in enumerate(a):
    if (i+1)%2==0:
        print(item)

t-series
pen